# Токен чат-бота MAX. Указывать без слова Bearer.
MAX_BOT_TOKEN=f9LHodD0cOJl5jXWjeaYgFHuMiD_aZJLQ8GSaLtvXOJKNZ98y5A2gY7GMI6BV2XQ12wqGKj5Xgyqx3YUpH-m

# ID сотрудников MAX через запятую.
MAX_STAFF_IDS=123456789

# Yandex Cloud.
YANDEX_FOLDER_ID=b1ga0ul22l735ln62i56
YANDEX_API_KEY=вставьте_api_key

# Обычно менять не нужно.
# YANDEX_MODEL_URI=gpt://ваш_folder_id/yandexgpt/latest
# MAX_API_URL=https://platform-api2.max.ru

# Файлы и цены.
CONTRACT_TEMPLATE=template2.docx
PRINT_PRICE_PER_SET=3900
DELIVERY_PRICE=1000
LOG_LEVEL=INFO
